{% extends 'base.html' %}
{% block main %}
<script>
    function copy_text(host, text){
        var input = document.getElementById("copy_area");
        input.value = host + text;
        input.select();
        document.execCommand("copy");
        alert("复制成功");
    };
</script>
<div class="file_upload_div">
    <form class="form-inline" enctype="multipart/form-data" action="{% url 'pictures:file_upload' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="sr-only" for="file">上传文件</label>
            <input type="file" multiple accept="image/png,image/jpg,image/gif" name="file" id="file">
        </div>
        <div class="form-group">
            <label class="sr-only" for="submit">上传</label>
            <input id="submit" type="submit" value="上传" class="btn btn-primary">
        </div>
    </form>
</div>
<hr>
<div class="file_list_div">
    {% for file in files %}
    <div class="row file_info">
        <div class="col-md-4">
            <p>{{ file.filename }}</p>
        </div>
        <div class="col-md-5">
            <p>{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'pictures:get_file' file.md5_name %}</p>
        </div>
        <div class="col-md-3">
            <a class="btn btn-default btn-sm" href="{% url 'pictures:get_file' file.md5_name %}">下载</a>
            <button class="btn btn-default btn-sm" onclick="copy_text('{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}', '{% url 'pictures:get_file' file.md5_name %}')">复制链接</button>
            <a class="btn btn-default btn-sm" style="color:red" href="{% url 'pictures:file_remove' file.pk %}">删除</a>
        </div>
    </div>
    <hr>
    {% empty %}
        <div class="no-post">还未上传文件！</div>
    {% endfor %}

    <!-- 分页 -->
    {% if is_paginated %}
        <div class="pagination">
        {% if left %}
        <a class="btn btn-text" href="?page={{ left.0 }}"><span class="ion-arrow-left-b"></span></a>
        {% endif %}
        {% if first %}
            <a class="btn btn-text" href="?page=1">1</a>
        {% endif %}
        {% if left %}
            {% if left_has_more %}
                <span>...</span>
            {% endif %}
            {% for i in left %}
                <a class="btn btn-text" href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
        {% endif %}
        <a class="btn btn-text" disabled="disabled" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        {% if right %}
            {% for i in right %}
                <a class="btn btn-text" href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
            {% if right_has_more %}
                <span>...</span>
            {% endif %}
        {% endif %}
        {% if last %}
            <a class="btn btn-text" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
        {% endif %}
        {% if right %}
        <a class="btn btn-text" href="?page={{ right.0 }}"><span class="ion-arrow-right-b"></span></a>
        {% endif %}
        </div>
    {% endif %}
</div>
<textarea style="width:1px;height:1px;border-width:0;padding:0;" id="copy_area"></textarea>
{% endblock main %}